/* components/ScrollProgress.module.css */
.progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.progressBar {
  height: 5px;
  background-color: #4caf50;
  transition: width 0.25s ease;
}
